@model VisitorRegistrationApp.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<link href="~/css/Details.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h5>@Model.Name</h5>
                <p class="mb-0">@Model.Job</p>
            </div><!-- / project-info-box -->

            <div class="project-info-box">
                <p><b>Salary:</b> @Model.Salary</p>
            </div><!-- / project-info-box -->


        </div><!-- / column -->

        <div class="col-md-7">
            <img src="data:image/png;base64, @Model.Base64Image" alt="project-image" class="rounded">
            <div class="project-info-box">
                <p><b></b> </p>
                <p><b></b> </p>
            </div><!-- / project-info-box -->
        </div><!-- / column -->
    </div>
</div>


<style>
</style>
<div>
    <a asp-action="Index" asp-route-id="@ViewBag.Index">Back to List</a>
</div>
