@model VisitorRegistrationApp.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Employee</h1>


<hr />
<div class="container rounded bg-white mt-5 mb-5">
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src="data:image/png;base64, @Model.Base64Image" alt="project-image"><span class="font-weight-bold">@Model.Base64Image</span><span class="text-black-50"></span><span> </span></div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Company Settings</h4>
                    </div>
                    <div class="row mt-2 form-group">
                        <div class="col-md-6"><label asp-for="Name" class="labels">Change Name: </label><input asp-for="Name" type="text" class="form-control" placeholder="Company " value="@Model.Name"> <span asp-validation-for="Name" class="text-danger"></span></div>
                    </div>
                    <div class="row mt-3 form-group">
                        <div class="col-md-12"><label asp-for="BirthDay " class="labels">Birthday </label><input asp-for="BirthDay" type="date" class="form-control" placeholder="Enter Birthday" value="@Model.BirthDay"></div>
                    </div>
                    <div class="row mt-3 form-group">
                        <div class="col-md-12"><label asp-for="Job" class="labels">Location </label><input asp-for="Job" type="text" class="form-control" placeholder="Enter Job" value="@Model.Job"></div>
                    </div>
                    <div class="row mt-3 form-group">
                        <div class="col-md-12"><label asp-for="Salary" class="labels">Type </label><input asp-for="Salary" type="text" class="form-control" placeholder="Enter Salary" value="@Model.Salary"></div>
                    </div>
                    <div class="row mt-3 form-group">
                        <div class="col-md-6"><label asp-for="file" class="labels"> </label><input asp-for="file" class="form-control" placeholder="Image" value=""> <span asp-validation-for="file" class="text-danger"></span></div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save</button></div>
                </div>
            </div>

        </div>
    </form>
</div>
<div>
    <a class="btn btn-link" style="text-decoration:none"  asp-action="Index">Back to List</a>
</div>
<style>


    .form-control:focus {
        box-shadow: none;
        border-color: #BA68C8
    }

    .profile-button {
        background: rgb(99, 39, 120);
        box-shadow: none;
        border: none
    }

        .profile-button:hover {
            background: #682773
        }

        .profile-button:focus {
            background: #682773;
            box-shadow: none
        }

        .profile-button:active {
            background: #682773;
            box-shadow: none
        }

    .back:hover {
        color: #682773;
        cursor: pointer
    }

    .labels {
        font-size: 11px
    }

    .add-experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }

</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
