@model VisitorRegistrationApp.Models.CompanyViewModel

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
<link href="~/css/Details.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="project-info-box mt-0">
                <h5>@Model.Name</h5>
                <p class="mb-0">@Model.Description</p>
            </div><!-- / project-info-box -->

            <div class="project-info-box">
                <p><b>Amount Employees:</b> @Model.Employees.Count()</p>
                <p><b>Place:</b>@Model.Location </p>
                <p><b>Type:</b> @Model.TypeOfBusiness </p>
                <p><b>CEO: </b>@Model.Employees.Where(e => e.Job == "CEO").FirstOrDefault()?.Name </p>
            </div><!-- / project-info-box -->

            
        </div><!-- / column -->

        <div class="col-md-7">
            <img src="data:image/png;base64, @Model.Base64Image" alt="project-image" class="rounded">
            <div class="project-info-box">
                <p><b></b> </p>
                <p><b></b> </p>
            </div><!-- / project-info-box -->
        </div><!-- / column -->
    </div>
</div>


<style>
</style>