@model IEnumerable<CompanyViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Companies</h1>


<form action="/" method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" name="name" class="form-control" value="" />
            <span class="input-group-btn">
                <button class="btn-btn-default">
                    <i class="glyphicon glyphicon-search" ></i>
                </button>
            </span>
        </div>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-sm" asp-action="Edit" asp-route-id="@item.Id"><i class="glyphicon glyphicon-edit"></i></a> 
                <a class="btn btn-sm" asp-action="Details" asp-route-id="@item.Id"><i class="glyphicon glyphicon-zoom-in"></i></a> 
                <a class="btn btn-sm" asp-action="Delete" asp-route-id="@item.Id"><i class="glyphicon glyphicon-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

<a href="" class="btn btn-primary">Add New</a>