@model IEnumerable<VisitorViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    // Sort By
}



<h1>All Visitors</h1>



@if (Model.Any() == false)
{
    <h1>No visitors have been signed out</h1>
}
else
{

    <form method="post" asp-action="Search">
        <div class="form-group">
            <div class="input-group">
                <input type="search" name="searchTerm" class="form-control" value="" />
                <span class="input-group-btn">
                    <button class="btn btn-lg">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Status</th>
                <th>
                    Name
                </th>
                <th>Visiting Company</th>
                <th>Check out Time</th>
                <th>People</th>
                <th>To Meet</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.VisitStatus.ToString() </td>
                    <td>
                        @item.Fullname
                    </td>
                    <td>@item.VisitingCompany.Name</td>
                    <td>@item.CheckOut </td>
                    <td>@item.Hosts?.Count() </td>
                    <td>>@item.Hosts?.ToList().First().Name </td>
                    <td>
                        <a class="btn btn-sm" asp-action="Edit" asp-route-name="@item.Fullname"><i class="glyphicon glyphicon-edit"></i></a>
                        <a class="btn btn-sm" asp-action="Details" asp-route-name="@item.Fullname"><i class="glyphicon glyphicon-zoom-in"></i></a>
                        <a class="btn btn-sm" asp-action="Delete" asp-route-name="@item.Fullname"><i class="glyphicon glyphicon-trash"></i></a>
                        <a class="btn btn-sm" asp-controller="Employees" asp-action="Index" asp-route-name="@item.Fullname"><i class="glyphicon glyphicon-user"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
